:root {
	--main: #1a8561de;
}

*{margin: 0px;}

body{ width: 100vw; overflow-x: hidden;}

.container{
	font-family: arial;
	line-height: 1.3;
	background: #fdf6e4;
	overflow-x: hidden;

	display: flex; flex-direction: column;align-items: center;
	position: relative;
}
@media(min-width: 800px){
	.container{margin-left: auto;margin-right: auto;}
	body{background: #fdf6e4;}
}
/*=====================================================ÜBERSCHRIFTEN====*/
h2{font-size: 18px; font-weight: bold;}
@media (min-width: 400px){
	h2{font-size: 22px;}
}
@media (min-width: 800px){
	h2{font-size: 2.5vw;}
}
@media (min-width: 1000px){
	h2{font-size: 26px;}
}
/*===============================================*/
.banner1{
	font-family: 'Playball', cursive;
	text-align: center;
	background: #fdf6e46e;
	text-shadow: 1px 1px 3px white;

	display: flex;justify-content: center; align-items: center;
	position: absolute; top: 0px; left: 0px;
	width: 100vw; height: 35vh; min-height: 200px;
	z-index: 9999;
}
.banner1:hover{transform: scale(1.03); transition: 0.5s all ease-in-out;}
.banner-anima{overflow-x: hidden;
	padding: 0px 60px 15px 50px;

	animation-name: banner-eins;
	animation-timing-function: ease-out;
	animation-duration: 2s;
	animation-iteration-count: 1;}
@keyframes banner-eins{
	0%{opacity: 0;}
	30%{opacity: 0;}
	50%{ transform: scale(0.7);}
	90%{transform: scale(1.1);}
	100%{opacity: 1; transform: scale(1);}
}
.banner1 h1{font-size: 40px;line-height: 1.1;}
.banner1 h2{font-size: 30px;padding-top: 5px;}
@media(min-width: 500px){
	.banner1 h1{font-size: 50px;}
	.banner1 h2{font-size: 35px;}
	.banner1{height: 45vh;}
}
@media (min-width: 700px){
	.banner1 {height: 55vh;}
	.banner1 h1{font-size: 8vw;}
	.banner1 h2{font-size: 4.5vw;}
}
@media (min-width: 1300px){
	.banner1 h1{font-size: 95px;}
	.banner1 h2{font-size:65px;}
}
/*===========================================DIASHOW====*/
.slider{
	display: flex;flex-wrap: nowrap;
	position: relative; left: 0px;

	animation-name: dia;
	animation-timing-function: ease-in-out;
	animation-duration: 11s;
	animation-iteration-count: infinite;
}
#diashow{width: 100vw; overflow: hidden; height: 35vh; min-height: 200px;}

.slider img{width: 100vw; height: auto;}

@keyframes dia {
	5%{left: 0vw;}
	25%{left: 0vw;}
	30%{left: -100vw;}
	65%{left: -100vw;}
	70%{left: -200vw;}
	95%{left: -200vw;}
}
@media (min-width: 500px){
	#diashow{height: 45vh;}
}
@media (min-width: 700px){
	.middle{position: relative; top: 0px;left: 50%;
		transform: translateX(-50%);}
	#diashow{ height: 55vh;}
}
@media(min-width: 1000px){
	.slider img {transform-origin: center left;}
	.slider{top: -100px;}
}

/*=====================================================BANNER2====*/
.linie{height: 2px; width: calc(100vw - 35px);
	background: black;
	margin: 10px 0px 5px -30px;
}

.banner2{margin: 20px 30px 25px 30px;}
.banner2 h3{font-size: 16px; font-weight: normal;}
h4{font-size: 18px;}
p{}
/*========================*/
@media (min-width: 700px){
	.banner2 h3{font-size: 18px;}
}
@media (min-width: 800px){
	.linie{width: 800px;}
	.banner2 h3{font-size: 20px;}
	p{font-size: 20px;}
	.banner2{margin: 30px 10px 40px 10px;}
}
@media(min-width: 1300px){}

/*===================================================VERKAUFT/SOLD=====*/
.sold{display: flex;flex-direction: column;align-items: center;
	background: #0002;
}

.sold h3{font-size: 16px; color: #1a8561;
	padding: 20px 15px 10px 10px;
}
.foto-sold{margin-bottom: 25px;}
.gallery{
	margin-left: 13%; margin-right: auto;	
}
.gallery img{transition: 0.6s;
	margin: 1%;
	width: 82%; height: auto;
	box-shadow: 2px 2px 8px black; border: 2px solid #001;
}
.gallery a{max-width: 90vw;}
.gallery img:hover{
	filter: grayscale(90%);
	transform: scale(1.1);
}
.handy-sold{display: none;}
.ab-tausend{display: none;}

@media (min-width: 500px){
	.handy-sold{display: unset;}
	.gallery img{width: 29%; margin: 1%;}
	.gallery{margin-left: 3%; margin-right: auto;}
	.foto-sold{margin-bottom: 50px;}
	.sold h3{font-size: 18px;}
}
@media (min-width: 650px){.sold h3{font-size: 2.8vw;}}
@media (min-width: 1000px){
	.gallery img{width: 21%;}
	.ab-tausend{display: unset;}
	.sold h3{font-size: 26px;}
}
@media (min-width: 1600px){.gallery{margin-left: 8%;}}
/*================================================VERKAUF=====*/
.ver{position: relative;
	overflow: hidden;
}
.verkauf-back{}
.foto1 img, .foto2 img{width: 100vw;}
.foto1{position: absolute;
	transform: translateY(-50%); top: 50%;

	animation-name: foto-eins;
	animation-duration: 60s; animation-timing-function: linear;
	animation-iteration-count: infinite;}
.foto2{position: absolute;
	transform: translateY(-50%); top: 50%;

	animation-name: foto-zwei;
	animation-duration: 60s; animation-timing-function: linear;
	animation-iteration-count: infinite;}
@keyframes foto-eins{
	0%{left: 100vw; opacity: 1;}
	0.1%{ opacity: 0; left: 100vw;}
	0.2%{ opacity: 0;left: -100vw;}
	0.3%{ opacity: 1;left: -100vw;}
	50%{left: 0vw;}
	100%{left: 100vw;}
}
@keyframes foto-zwei{
	0%{left: 0vw;}
	50%{left: 100vw; opacity: 1;}
	50.1%{opacity: 0; left: 100vw;}
	50.2%{opacity: 0; left: -100vw;}
	50.3%{opacity: 1; left: -100vw;}
	100%{left: 0vw;}
}
.verkauf{background: #ffffff8c;
	position: relative;
	padding: 30px 30px 40px 30px;
	width: 100vw;
	display: flex;align-items: center;flex-direction: column;
}
.verkauf h2{margin-top: 12px;
}
.verkauf a { color: red; transition: 0.5s;}
.verkauf a:hover{text-shadow: 1px 1px 2px black;}

.ebay{display: flex;flex-direction: column; width: 80vw;}
.ebay-bild{ position: relative; width: 80vw; height: auto; }
.ebay-bild img{ width: 80vw;max-width: 450px; height: auto; margin-top: 15px;
	background: whitesmoke;box-shadow: 0px 0px 8px black;
	transition: 0.6s;
	border-radius: 5px;}
.ebay-bild img:hover{box-shadow: 0px 0px 25px black;transform: scale(1.1);}
@media(max-width: 500px){
	.foto1{animation-name: fotohandyeins;}
	.foto2{animation-name: fotohandyzwei;}
	.foto1 img, .foto2 img{width: 200vw;}
	@keyframes fotohandyeins{
	0%{left: 200vw; opacity: 1;}
	0.1%{ opacity: 0; left: 200vw;}
	0.2%{ opacity: 0;left: -200vw;}
	0.3%{ opacity: 1;left: -200vw;}
	50%{left: 0vw;}
	100%{left: 200vw;}
}
@keyframes fotohandyzwei{
	0%{left: 0vw;}
	50%{left: 200vw; opacity: 1;}
	50.1%{opacity: 0; left: 200vw;}
	50.2%{opacity: 0; left: -200vw;}
	50.3%{opacity: 1; left: -200vw;}
	100%{left: 0vw;}
}
}
@media (min-width: 800px){
	.ebay{flex-direction: row; align-items: center; align-self: flex-start;
		margin-left: 3%;
	}
	.ebay-bild{width: 45vw; }
	.ebay img{width: 45vw; padding-left: 10px;}
}
@media (min-width: 1000px){
	.ver{min-height: 330px;}
	.ebay-bild, .ebay img{text-align: center;}
	.ebay{flex-direction: column; align-self: center;}
	.verkauf h2{align-self: center;}
	.verkauf{min-height: 330px;}
}

/*====================================================ABOUT====*/
.about-wrap{
	position: relative;
	background: url(../img/silhuette02.png) no-repeat;
	background-size: cover; background-position: center center;

	font-family: arial;
	width: 100vw; overflow-x: hidden;
}
.about{padding: 30px 30px; z-index: 4;
	position: relative; display: flex; align-items: center;justify-content: center;
	background: #ffdcbdde;
}
.text-about{padding-top: 10px; max-width: 80vw;z-index: 4;}
.about-img img{width: 80vw; max-width: 350px;
	margin-top: 5px; border-radius: 50%;
	border: 4px solid var(--main);
	box-shadow: 1px 2px 7px 2px black;
	transition: 0.6s;z-index: 4;
}
.about-img img:hover{transform: scale(1.1);}
.about-pc{display: flex; flex-direction: column;}
@media(min-width: 400px){
	.about-img img{position: relative; width: 45vw;}
	.about-img{display: flex;justify-content: center;}
}
@media (min-width: 700px){
	.about-pc{flex-direction: row;
		align-items: center;
	}
	.about-img img{margin-left:30px; width:35vw; max-width: 350px;}
	.about{padding:50px 30px;
	}
	.text-about{font-size: 18px;
		padding:0px 20px 0px 30px;
		width: 350px;
	}
}
@media(min-width: 1000px){
	.about h2{ padding-top: 5px;}
	.about img{max-width: 400px;}
	.text-about{font-size: 20px; width: 400px;}
}
/*===================================*/
.about-back-img{position: absolute;bottom: 50px;
	width: 100vw;

	z-index: 1;}
/*===================================================MITTIG AUSRICHTEN===*/
.mitte{}
/*===================================================IMPRESSUM====*/
.impressum{padding: 10px 30px 15px 30px;
	background: var(--main);
	font-family: arial;
	}
.impressum a{color: whitesmoke;}